body {
    background-color: green;
    color: white;
    text-align: center;
}

ul {
    text-align: left;
    font-weight: bold;
    color: darkred;
    font-size: large;
}

.home-image {
    border:1px solid black;
    width: 250px;
}